<%- include('./partials/heading.ejs') %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <title>MLB Players API</title>
    </head>

    <body>

        <header>
            <nav class="navbar navbar-expand bg-secondary navbar-dark mb-3">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Home</a>
                    <a class="nav-item nav-link" href="/kanyequote">Kanye Quote</a>
                    <a class="nav-item nav-link" href="/restcountries">Rest Countries</a>
                    <a class="nav-item nav-link active" href="/mlbPlayers">Mlb Players</a>
                </div>
            </nav>
        </header>

        <%- include('./partials/mlbPlayersErrors.ejs') %>

        <%- include('./partials/mlbPlayersSuccess.ejs') %>

        <div class="container text-center">
            <button class="btn btn-lg btn-dark rounded-1 mt-5 me-3" type="button" data-bs-toggle="modal" data-bs-target="#createPlayer">Create Player</button>
            <button class="btn btn-lg btn-dark rounded-1 mt-5 me-3" type="button" data-bs-toggle="modal" data-bs-target="#findPlayer">Get Player Info</button>
        </div>

        <div class="container mt-5">
        <table class="table table-dark bg-secondary table-striped">
            <thead>
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col" class="text-center">Number</th>
                <th scope="col" class="text-center">Team</th>
                <th scope="col" class="text-center">Edit</th>
                <th scope="col" class="text-center">Delete</th>
              </tr>

              <%- mlbPlayersTable %>

            </thead>
            <tbody>
          </table>
        </div>
        
        <%- include('./partials/mlbPlayersCreatePlayerModal.ejs') %>

        <%- include('./partials/mlbPlayersEditPlayerModal.ejs') %>

        <%- include('./partials/mlbPlayersDeletePlayerModal.ejs') %>

        <div class="modal" id="findPlayer" aria-hidden="true" style="display: none;">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body text-center mb-5">
                        <i class="bi bi-search fa-3x"></i>
                        <h1 class="h2 mb-4">Find a Player/s</h1>
                        
                        <form id="findPlayerForm">

                            <%- include('./partials/mlbPlayersModalErrorsFind.ejs') %>

                            <div class="form-outline mb-4">
                                <input type="text" id="firstNameFind" name = "firstNameFind" class="form-control form-control-md" />
                                <label class="form-label" for="firstNameFind">First Name</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" id="lastNameFind" name = "lastNameFind" class="form-control form-control-md" />
                                <label class="form-label" for="lastNameFind">Last Name</label>
                            </div>

                            <div class="form-outline mb-3">
                                <input type="number" min="0" max="99" id="numberFind" name = "numberFind" class="form-control form-control-md" />
                                <label class="form-label" for="numberFind">Number</label>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="teamFind">Choose Team</label>
                                <%- include('./partials/mlbPlayersSelectFind.ejs') %>
                            </div>

                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary btn-lg mr-2 rounded-lg" data-bs-dismiss="modal">Cancel</button>
                                <a id="linkToFind" type="button" class="btn btn-info btn-lg rounded-lg">Find</a>
                            </div>
                        
                        </form>
						
					</div>
				</div>
			</div>
		</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../public/js/mlbPlayersCreate.js"></script>
<script src="../public/js/mlbPlayersFind.js"></script>
<script src="../public/js/mlbPlayersCloseRedirect.js"></script>
<script>

    $("#deleteModal").on("show.bs.modal", function (event) {
        $("#linkToDelete").attr("href", event.relatedTarget.id);
    });

    let originalPlayerInfo = [];

    $("#editPlayer").on("show.bs.modal", function (event) {

        originalPlayerInfo = event.relatedTarget.id.split("/");

        $("#firstNameEdit").val(originalPlayerInfo[0]);
        $("#lastNameEdit").val(originalPlayerInfo[1]);
        $("#numberEdit").val(originalPlayerInfo[2]);
        $("#teamEdit").val(originalPlayerInfo[3]);
    });

    $("#linkToEdit").on("click", () => {

        let newFirstName = $("#firstNameEdit").val();
        let newLastName = $("#lastNameEdit").val();
        let newNumber = $("#numberEdit").val();
        let newTeam = $("#teamEdit").val();

        document.location.href = `/mlbPlayers/v1/edit/${originalPlayerInfo[0]}/${originalPlayerInfo[1]}/${originalPlayerInfo[2]}/${originalPlayerInfo[3]}?firstName=${newFirstName}&lastName=${newLastName}&number=${newNumber}&team=${newTeam}`
    });

</script>

<%- include('./partials/footer.ejs') %>